target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/sonarlint/issuestore/0/a/0ae4f2944cbc92e3ee639cbf43107a6fb50bb31e
/.idea/sonarlint/issuestore/2/c/2c5f74f2a1addad0345f58507f64d6b8112831da
/.idea/sonarlint/issuestore/3/9/3908a3ab0eaf1b5385f7e67987c8606cadf892da
/src/test/java/com/adminitions/admitions/admin/AddFacultyServletTest.java
/src/test/java/com/adminitions/admitions/admin/AdminMenuServletTest.java
/src/test/java/com/adminitions/admitions/admin/ApplicantModerationServletTest.java
/src/test/java/com/adminitions/admitions/admin/ChangeFacultyServletTest.java
/src/test/java/com/adminitions/admitions/admin/FacultyModerationServletTest.java
/src/test/java/com/adminitions/admitions/admin/FinalizerServletTest.java
/src/test/java/com/adminitions/data_access/RequestDaoTest.java
/src/test/java/com/adminitions/admitions/admin/RequestModerationServletTest.java
